# Google API Key for Generative AI
GOOGLE_API_KEY=

# ChromaDB persist directory
CHROMA_PERSIST_DIR="data/chroma"

# SMTP Settings for sending emails
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
MANAGER_EMAIL=
